<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>

    <add key="StorageAccountName" value="fileprocess01" />
    <add key="StorageAccountKey" value="0IDOyy9TZoLB4Qn0++gx98mlSNC/uz/PwAbKYRZY1elXM5ITYMHH9HqXyyiJ5LWbeVE304JY4zQ0ooadyyzbRg==" />
    <add key="ContainerName" value="output" />

  </appSettings>

</configuration>
